.Rproj.user
.Rhistory
.RData
*_cache
*_files
_main.rds
_book
_bookdown_files
rsconnect
*.md
*.html
!ga_script.html
search_index.json
libs
*.rds
_main.*
bookdown*
tmp-pdfcrop-*
figures
*.toc
*.aux
*.out
*.blg
*.tex
!after_body.tex
*.log
Rplots.pdf
.vscode/settings.json
